<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <!--The service to monitor-->
    <add key="ServiceToWatch" value=""/>
    <!--The rate at which to query the service status-->
    <add key="PollRate" value="1000"/>
    <!--The time to wait (in milliseconds) for a service state change-->
    <add key="WaitForStateTimeout" value="15000"/>
    <!--The icon to use for a running service-->
    <add key="RunningIcon" value="./Icons/Play.ico"/>
    <!--The icon to use for a stopped service-->
    <add key="StoppedIcon" value="./Icons/Stop.ico"/>
    <!--THe icon to use for a paused service-->
    <add key="PausedIcon" value="./Icons/Pause.ico"/>
    <!--The icon to use when a service is starting-->
    <add key="StartingIcon" value="./Icons/Starting.ico"/>
    <!--The icon to use when a service is stopping-->
    <add key="StoppingIcon" value=""/>
    <!--The icon to use when a service is pausing-->
    <add key="PausingIcon" value=""/>
    <!--The icon to use when a service is resuming-->
    <add key="ResumingIcon" value=""/>
  </appSettings>
</configuration>