<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
<appSettings>
  <add key="ServiceToWatch" value="Spooler"/>
  <add key="RunningIcon" value="./Icons/Play.ico"/>
  <add key="StoppedIcon" value="./Icons/Stop.ico"/>
  <add key="PausedIcon" value="./Icons/Pause.ico"/>
  <add key="StartingIcon" value=""/>
  <add key="StoppingIcon" value=""/>
  <add key="PausingIcon" value=""/>
  <add key="ResumingIcon" value=""/>
</appSettings>
</configuration>